/* 匯入共用師資_詳細資訊版型.css */
@import url(../../style_nav/style_team/style_team_info_layout.css);




/* ============================================================= */
/* 行政成員 詳細資訊 */
/* ============================================================= */


.team_info_right{
    width: 100%;
    padding: 0;
    margin: 0;
}